@{
    ViewBag.Title = "Thêm banner";
}
@model MainProject.ServiceAdmin.Model.Banner.BannerManageViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Hình banner</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Nội dung</a></li>
            <li class="active">Hình banner</li>
            <li class="active">Thêm mới</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <!-- /.box - header -->
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">Nội dung</a></li>
                            <li><a href="#tab_2" data-toggle="tab"> Hình ảnh</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                @using (Html.BeginForm("Create", "BannerAdmin", FormMethod.Post, new { id = "CreateBanner" }))
                                {
                                    <div class="box-body">
                                        @Html.ValidationSummary(true)
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.HiddenFor(x => x.ImageFolder)
                                        @Html.HiddenFor(x => x.LogHistoryId)
                                        <div class="form-group">
                                            <label>Ngôn ngữ</label>
                                            @Html.DropDownListFor(d => d.LanguageSelectedValue, Model.Languages, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(d => d.LanguageSelectedValue)
                                        </div>
                                        <div class="form-group">
                                            <label id="ResourcePathName">Ảnh mặc định</label>
                                            @Html.EditorFor(d => d.ResourcePath, new { htmlAttributes = new { @class = "form-control" }, })
                                            @Html.ValidationMessageFor(d => d.ResourcePath)
                                        </div>
                                        <div class="form-group">
                                            <label>Tiêu đề<span style="color: red">*</span></label>
                                            @Html.EditorFor(d => d.Name, new { htmlAttributes = new { @class = "form-control" }, })
                                            @Html.ValidationMessageFor(d => d.Name)
                                        </div>
                                        <div class="form-group">
                                            <label>Mô tả banner</label>
                                            @Html.TextAreaFor(d => d.Description, new { @class = "ckeditor" })
                                            @Html.ValidationMessageFor(d => d.Description)
                                        </div>
                                        <div class="form-group">
                                            <label>Link liên kết</label>
                                            @Html.EditorFor(d => d.Link, new { htmlAttributes = new { @class = "form-control" }, })
                                            @Html.ValidationMessageFor(d => d.Link)
                                        </div>
                                        <div class="form-group col-xs-2 nopadding">
                                            <label>Thứ tự</label>
                                            @Html.EditorFor(d => d.Order)
                                            @Html.ValidationMessageFor(d => d.Order)
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label>Cho phép hiển thị ?</label><br />
                                            @Html.EditorFor(d => d.IsPublished)
                                            @Html.ValidationMessageFor(d => d.IsPublished)
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-danger" onclick="window.location = '/Admin/BannerAdmin/Index';">Cancel</button>
                                    </div>
                                }
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <iframe name="picturemanager" src="/admin/upload/images?folder=@Model.ImageFolder" style="width: 100%; height: 500px; border:none;"></iframe>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
        $("#Order").addClass("form-control");
        $('#IsPublished').attr('checked', true);
        //$('#IsVideo').attr('checked', false);

        //$("#IsVideo").on('click', function () {
        //    if ($('#IsVideo').is(':checked')) {
        //        document.getElementById("ResourcePathName").innerHTML = "Video Id";
        //        $("#ResourcePath").val("");
        //        $(".nav-tabs li:nth-child(2)").hide();
        //    }
        //    else {
        //        document.getElementById("ResourcePathName").innerHTML = "Ảnh mặc định";
        //        $("#ResourcePath").val("");
        //        $(".nav-tabs li:nth-child(2)").show();
        //    }
        //});
    });
</script>