@model MainProject.ServiceAdmin.Model.User.UserManagePasswordModel
@{
    ViewBag.Title = "Chỉnh sửa thông tin tài khoản";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tài khoản quản trị
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>Trang chủ</a></li>
            <li><a href="#">Tài khoản</a></li>
            <li class="active">Tài khoản quản trị</li>
            <li class="active">Đổi mật khẩu</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Đổi mật khẩu</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm())
                {
                    <strong style="color: red">@Html.ValidationSummary(true)</strong>
                    <div class="box-body">
                        @Html.HiddenFor(x => x.UserName)
                        <div class="form-group">
                            <label>Bạn đang thay đổi mật khẩu của tài khoản <strong style="color: red">@Model.UserName</strong></label>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu hiện tại<span style="color: red">*</span></label>
                            @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.Password)
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới<span style="color: red">*</span></label>
                            @Html.PasswordFor(d => d.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.NewPassword)
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu<span style="color: red">*</span></label>
                            @Html.PasswordFor(d => d.RePassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(d => d.RePassword)
                        </div>

                        <button id="create-form-btn" class="btn btn-primary">Cập nhật</button>
                        <button type="button" class="btn btn-danger" onclick="window.location = '/Admin/UserAdmin/Index';">Cancel</button>
                    </div><!-- /.box-body -->
                }
            </div><!-- /.box -->
            @*</div>*@
        </div>   <!-- /.row -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->