@{
    Layout = null;
}
@model MainProject.ServiceAdmin.Model.Album.MediaManageViewModel

<tr>
    <td>
        @Html.Hidden("Medias[" + Model.Position + "].Id", Model.Id, new { @class = "form-control" })
        @Html.Hidden("Medias[" + Model.Position + "].IsDeleted", Model.IsDeleted)
        @Model.Position
    </td>
    <td>
        @Html.TextBoxFor(d => d.Name, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].Name" })
        @Html.ValidationMessage("Medias[" + Model.Position + "].Name")
    </td>
    <td>
        @Html.TextBoxFor(d => d.ImageDefault, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].ImageDefault" })
        @Html.ValidationMessage("Medias[" + Model.Position + "].ImageDefault")
    </td>
    <td>
        @Html.TextBoxFor(d => d.AltImage, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].AltImage" })
        @Html.ValidationMessage("Medias[" + Model.Position + "].AltImage")
    </td>
    <td>
        @Html.TextBoxFor(d => d.Order, new { @class = "form-control", @Name = "Medias[" + Model.Position + "].Order", @type = "number" })
        @Html.ValidationMessage("Medias[" + Model.Position + "].Order")
    </td>
    <td>
        <span id="category-delete" class="btn bg-red" 
              onclick="$(this).parents('tr:first').find('input[name=\'Medias[@Model.Position].IsDeleted\']').val(true);
                        $(this).parents('tr:first').hide();
						$(this).parents('tr:first').find('input[type=\'text\']').each(function (i) { $(this).val('Deleted');">
            <i class="fa fa-trash-o"></i>
        </span>
    </td>
</tr>