@{
    ViewBag.Title = "Quản lý Tỉnh - Thành phố";
    var currentUserHelper = new CurrentUserHelper(Request);
}
@using MainProject.Core.Enums
@using MainProject.Framework.Models
@using MainProject.ServiceAdmin.Model
@model IndexViewModel<MainProject.Core.Region>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tỉnh - Thành phố
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li class="active">Tỉnh - Thành phố</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <p>
                            @Html.Raw(TempData["message"])
                        </p>
                        @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Create))
                        {
                            <div class="form-group col-xs-2 nopadding">
                                <span class="btn btn-block btn-primary btn-lg" data-toggle="modal" data-target="#create-modal">
                                    Thêm mới
                                </span>
                            </div>

                            @Html.Partial("_CreateCity", new MainProject.ServiceAdmin.Model.Region.CityManageViewModel())
                        }
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.ListItems != null)
                                    {
                                        int index = 1;
                                        foreach (var item in Model.ListItems)
                                        {
                                            <tr class="@(index % 2 == 0 ? "even" : "odd")">
                                                <td>
                                                    @(index++)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Edit))
                                                    {
                                                        <a href="/Admin/RegionAdmin/CityEdit?id=@item.Id" class="btn btn-default" title="Chỉnh sửa">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    }
                                                    @if (currentUserHelper.CheckHasPermissionOnFeature(EntityManageTypeCollection.ManageBranch, PermissionCollection.Delete))
                                                    {
                                                        <a href="/Admin/RegionAdmin/CityDelete?id=@item.Id" class="btn bg-red" title="Xóa" onclick="return confirm('Bạn muốn xóa đối tượng này?')">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                    if (ViewData["Errors"] != null)
                                    {
                                        <tr>
                                            <td>@Html.Raw(ViewData["Errors"])</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="dataTables_paginate">
                            @Html.RenderPagingAdmin(Model.PagingViewModel, new PagingStyleModel() { CurrentItemStyle = "active", DivContainerStyle = "", ItemStyle = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
